@import "/src/ui/styles/_variables.module.scss";
@import "/src/ui/styles/_colors.module.scss";

.container {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  input {
    padding: 1rem;
  }

  .textarea {
    min-height: 150px;
    padding: $space-md;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-inline: auto;
  }
}
