@import "/src/ui/styles/_colors.module.scss";
@import "/src/ui/styles/_variables.module.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $white-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  body {
    padding: 0;
    margin: 0;
    color: $white-color;
    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
    }
    a:hover {
      color: #535bf2;
    }
    button,
    .button {
      border-radius: 8px;
      border: 1px solid $grey-text-color;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    button:hover,
    .button {
      border-color: #646cff;
    }
    button:focus,
    button:focus-visible,
    .button:focus,
    .button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    .loginForm {
      background-color: $gradient1;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    body {
      nav {
        background-color: $light-grey-color;
      }
      color: $grey-text-color;
      background-color: $white-color;
      a:hover {
        color: #747bff;
      }
      button {
        background-color: #f9f9f9;
      }
      .navbar {
        background-color: #f9f9f9;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    body {
      nav {
        background-color: $primary-color;
      }
      background-color: $black-color;
    }
  }
}
