@import "/src/ui/styles/_colors.module.scss";
@import "/src/ui/styles/_variables.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headerTitle {
    // color: $primary-color;
    padding: 0;
    h1,
    p {
      margin: 0;
      text-align: start;
    }
  }
}
