.loading {
  position: absolute;
}

.container {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-weight: bold;
  }

  .deleteButton {
    padding: 6px 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c0392b;
    }
  }
}
