@import "/src/ui/styles/_colors.module.scss";
@import "/src/ui/styles/_variables.module.scss";

.container {
  display: flex;
  // padding: $space-md;
  .navbarContainer {
    // padding: $space-md;
    .navbar {
      display: flex;
      position: sticky;
      top: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // max-width: 200px;
      padding: 0;
      margin: 0;
      height: 100vh;
      border-radius: 0 10px 10px 0;
      box-shadow: 1px 0px 5px $grey-text-color;
      text-align: center;
      // padding: $space-md;

      .navlink {
        // background-color: red;
      }

      .navbarFooter {
        color: $grey-text-color;
        margin-top: auto;
        // background-color: red;
      }

      .logoImage {
        max-width: 60px;
        height: auto;
      }
    }
  }

  .content {
    padding: $space-xl;
    width: 100%;
  }
}
