@import "/src/ui/styles/_colors.module.scss";
@import "/src/ui/styles/_variables.module.scss";

.container {
  display: flex;
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 200px;
    height: 100vh;
    padding: $space-md;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    border-radius: 0 10px 10px 0;

    .navlink {
      // background-color: red;
      padding: $space-md;
    }
  }

  .content {
    padding: $space-xl;
    width: 100%;
  }
}
