@import "/src/ui/styles/_colors.module.scss";
@import "/src/ui/styles/_variables.module.scss";

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: $space-md;
  }
}
